<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="styles.css"/>
    </head>
    <body>
        <div  class="main-content">
          {{>header}}
     <p>This site was created by Gavin Simon.  It uses data from mapbox.com and weatherstack.com</p>
       
        <image class="portrait" src="images/Gavin.jpeg"/>
        </div>

         {{>footer}}
    </body>
</html>