<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="styles.css"/>
    </head>
    <body>
          {{>header}}
        <h1>{{title}}</h1>
         <h1>Created by {{name}}</h1>
        <image src="Gavin.jpeg"/>
    </body>
</html>